import(R.oo, e1071, rpart, nnet, randomForest, utils, stats, MASS)
importFrom("grDevices", "col2rgb", "dev.new", "gray", "grey", "rgb")
importFrom("graphics", "abline", "axTicks", "axis", "barplot",
             "boxplot", "hist", "image", "legend", "lines", "mtext",
             "pairs", "par", "plot", "points", "rect", "rug", "strwidth",
             "symbols", "text", "title")

useDynLib(galgo, .registration = TRUE)
useDynLib(galgo, galgoKNN, galgoMLHD, galgoNearCent, G_distance)

exportClasses(Bag)
export(Bag)
exportClasses(Object)
#export(Object)
exportClasses(Gene)
export(Gene)
exportClasses(Chromosome)
export(Chromosome)
exportClasses(Niche)
export(Niche)
exportClasses(World)
export(World)
exportClasses(Galgo)
export(Galgo)
exportClasses(BigBang)
export(BigBang)
S3method(unObject, list)
S3method(unObject, Object)
S3method(as.list, Object)
S3method(print, Bag)
S3method(summary, Bag)
S3method(length, Bag)
S3method(reInit, Gene)
S3method(generateRandom, Gene)
S3method(mutate, Gene)
S3method(print, Gene)
S3method(as.double, Gene)
S3method(as.matrix, Gene)
S3method(summary, Gene)
S3method(newCollection, Gene)
S3method(newRandomCollection, Gene)
S3method(reInit, Chromosome)
S3method(clone, Chromosome)
S3method(genes, Chromosome)
S3method(generateRandom, Chromosome)
S3method(length, Chromosome)
S3method(summary, Chromosome)
S3method(print, Chromosome)
S3method(as.double, Chromosome)
S3method(decode, Chromosome)
S3method(mutate, Chromosome)
S3method(newCollection, Chromosome)
S3method(newRandomCollection, Chromosome)
S3method(reInit, Niche)
S3method(clone, Niche)
S3method(generateRandom, Niche)
S3method(length, Niche)
S3method(as.matrix, Niche)
S3method(as.double, Niche)
S3method(print, Niche)
S3method(summary, Niche)
S3method(refreshStats, Niche)
S3method(plot, Niche)
S3method(newCollection, Niche)
S3method(newRandomCollection, Niche)
S3method(mutate, Niche)
S3method(best, Niche)
S3method(max, Niche)
S3method(bestFitness, Niche)
S3method(maxFitness, Niche)
S3method(getFitness, Niche)
S3method(crossover, Niche)
S3method(scaling, Niche)
S3method(offspring, Niche)
S3method(progeny, Niche)
S3method(evaluate, Niche)
S3method(reInit, World)
S3method(clone, World)
S3method(generateRandom, World)
S3method(length, World)
S3method(print, World)
S3method(summary, World)
S3method(refreshStats, World)
S3method(plot, World)
S3method(newCollection, World)
S3method(newRandomCollection, World)
S3method(best, World)
S3method(max, World)
S3method(bestFitness, World)
S3method(maxFitness, World)
S3method(progeny, World)
S3method(evaluate, World)
S3method(clone, Galgo)
S3method(reInit, Galgo)
S3method(generateRandom, Galgo)
S3method(length, Galgo)
S3method(print, Galgo)
S3method(summary, Galgo)
S3method(refreshStats, Galgo)
S3method(evaluate, Galgo)
S3method(best, Galgo)
S3method(max, Galgo)
S3method(bestFitness, Galgo)
S3method(maxFitness, Galgo)
S3method(evolve, Galgo)
S3method(plot, Galgo)
S3method(blast, BigBang)
S3method(formatChromosome, BigBang)
S3method(saveObject, BigBang)
S3method(print, BigBang)
S3method(summary, BigBang)
S3method(as.matrix, BigBang)
S3method(getFrequencies, BigBang)
S3method(filterSolution, BigBang)
S3method(computeCount, BigBang)
S3method(buildCount, BigBang)
S3method(addCount, BigBang)
S3method(activeChromosomeSet, BigBang)
S3method(plot, BigBang)
S3method(meanGeneration, BigBang)
S3method(geneFrequency, BigBang)
S3method(geneRankStability, BigBang)
S3method(meanFitness, BigBang)
S3method(classPredictionMatrix, BigBang)
S3method(confusionMatrix, BigBang)
S3method(specificityClass, BigBang)
S3method(sensitivityClass, BigBang)
S3method(fitnessSplits, BigBang)
S3method(geneCoverage, BigBang)
S3method(forwardSelectionModels, BigBang)
S3method(heatmapModels, BigBang)
S3method(pcaModels, BigBang)
S3method(mergeBangs, BigBang)
S3method(addRandomSolutions, BigBang)
S3method(addSolutions, BigBang)
S3method(assignParallelFile, BigBang)
S3method(loadParallelFiles, BigBang)
S3method(geneImportanceNetwork, BigBang)
S3method(distanceImportanceNetwork, BigBang)
S3method(predict, BigBang)

export(activeChromosomeSet)
export(addCount)
export(addRandomSolutions)
export(addSolutions)
#export(as.double)
export(as.list)
#export(as.matrix)
export(assignParallelFile)
export(best)
export(bestFitness)
export(blast)
export(buildCount)
export(classPredictionMatrix)
export(clone)
export(computeCount)
export(confusionMatrix)
export(crossover)
export(decode)
export(distanceImportanceNetwork)
export(evaluate)
export(evolve)
export(filterSolution)
export(fitnessSplits)
export(formatChromosome)
export(forwardSelectionModels)
export(geneCoverage)
export(geneFrequency)
export(geneImportanceNetwork)
export(geneRankStability)
export(generateRandom)
export(genes)
export(getFitness)
export(getFrequencies)
export(heatmapModels)
export(length)
export(loadParallelFiles)
export(max)
export(maxFitness)
export(meanFitness)
export(meanGeneration)
export(mergeBangs)
export(mutate)
export(newCollection)
export(newRandomCollection)
export(offspring)
export(pcaModels)
#export(plot)
#export(predict)
export(print)
export(progeny)
export(refreshStats)
export(reInit)
export(saveObject)
export(scaling)
export(sensitivityClass)
export(summary)
export(unObject)

export(configBB.VarSel)
export(configBB.VarSelMisc)

export(geneBackwardElimination)
export(robustGeneBackwardElimination)
export(generateRandomModels)
export(reObject)
export(loadObject)
export(galgo.dist)
export(fitness)
export(modelSelection)
export(classPrediction)
export(knn_R_predict)
export(knn_C_predict)
export(nnet_R_predict)
export(rpart_R_predict)
export(nearcent_R_predict)
export(nearcent_C_predict)
export(mlhd_C_predict)
export(mlhd_R_predict)
export(svm_R_predict)
export(svm_C_predict)
export(randomforest_R_predict)
